<?xml version="1.0"?>
<configuration>
  <system.web>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
  <system.webServer>
    <httpErrors errorMode="Detailed"/>
    <asp scriptErrorSentToBrowser="true"/>
      <!-- A definicao a seguir obriga o IE a trabalhar em Vista de Compatibilidade IE11 -->
      <httpProtocol>
        <customHeaders>
          <clear/>
          <add name="X-UA-Compatible" value="IE=EmulateIE10,chrome=1"/>
        </customHeaders>
      </httpProtocol>
  </system.webServer>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="50000000"/>
      </webServices>
    </scripting>
  </system.web.extensions>
  <connectionStrings>
    <add name="connectionString" connectionString="server=cp152.webserver.pt;database=happybody; User Id=happybody; Password=6lZh8x9^" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>